*,
*::before
*::after {
    box-sizing: border-box;
}

body {
font-family: "Roboto", sans-serif;
color: var(--SLATE, #434455);
background-color: #FFF;
}



h1,
h2,
h3,
h4,
h5,
h6,
p { 
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    list-style-type: none;
}

section {
    padding-top: 120px;
    padding-right: 0;
    padding-bottom: 120px;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1158px;
}


/*  Шапка веб-сторінки  */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

.header-cont {
    display: flex;
    align-items: center;
}


.nav {
    display: flex; 
    align-items: center; 
}

.logo {
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1.17;
        display: flex;
        flex-direction: row;
        width: 115px;
        margin-right: 76px;
        padding: 24px 0;

       
}
.logo-top {
    color: var(--NAVY-BLUE, #2E2F42);}

 .nav-menu {
    display: flex;
    gap: 40px;
 }
  

.header-link {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        text-decoration: none;
        line-height: 1.5;
        display: block;
        padding: 24px 0;
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.header-link.current::after {
    content: "";
    border-radius: 2px;
width: 100%;
height: 4px;
background-color: #404bbf;
display: block;
position: absolute;
bottom: -1px;
}




.nav-list-item .header-link:hover {color: #404BBF;}
.nav-list-item .header-link:focus 
 { color: #404BBF;
}



.address-link { font-style: normal;
    display: flex;
    gap: 40px;
    margin-left: 317px;
}


 .adresses-link-subtitle {
       color:#434455;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        text-decoration: none;
        line-height: 1.5;
        text-wrap: nowrap;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
   
      
}
.adresses-link-item .adresses-link-subtitle:hover { color:  #404bbf}
.adresses-link-item .adresses-link-subtitle:focus { color:  #404bbf}

/*   Замовити послуги */
/* Перша секція */

.section-business {
    background-color:var(--NAVY-BLUE, #2E2F42);
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


    .main-title {
    color: var(--WHITE, #FFF);
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
        line-height: 1.07;
        max-width: 496px;  
        letter-spacing: 0.02em;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 47px;
}



.order-button {
        background: var(--IRIS, #4D5AE5);
        color: var(--WHITE, #FFF);
        cursor: pointer;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: 0.64px;
        line-height: 1.5; 
        display: block;
        border: none;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        padding-top: 16px;
        padding-right: 26px; 
        padding-bottom: 18px;
        padding-left: 32px;
        margin: 0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.order-button:hover,
.order-button:focus {background-color: #404BBF;
}

/*  друга секція */

.section-advantages {
    display: flex;
    padding: 120px 0;
}

.advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    
}
 

.advantages-list-item {
    width: calc(( 100% - 72px ) / 4);
    
}

.advantages-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    width: 264px;
    background: #f4f4fd;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
}

.advantages-svg {
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.text {
    color: var(--SLATE, #434455);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        line-height: 1.5;
        width: 264px;

}

/* Наша команда */
/* Секція 3 */
.team-section {
    background: var(--CLOUD, #F4F4FD);
    padding: 120px 0
}


.team-list {
    display: flex;
    gap: 24px;
}


.heading-team {
color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
      margin-bottom: 72px; 
     text-align: center;
    }
    .team-list-item {
        background-color: #FFFFFF;
        flex-basis: calc(( 100% - 72px ) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
     
    }

    .team-container {
        display: flex;
        flex-direction: column;
        padding: 32px 0;
        text-align: center;
    }

    
   .team-icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
   }

   .team-icon-items {
    width: 40px;
height: 40px;

   }

   .team-icon-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #FFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
   }

   .team-icon-links:hover,
   .team-icon-links:focus {
    background-color: #404BBF;
   }

   .icons-team-svg{
    fill:#f4f4fd;
   }
    /* Портфоліо */
    /* Четверта секція */

    .portfolio-section {
    background: var(--WHITE, #FFF);
    padding-top: 120px;
    padding-bottom: 120px; 
    }
    

    .heading-portfolio {
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        line-height: 1.11;
        margin-bottom: 72px; }
        
        .portfolio-list { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
}

.portfolio-list-item {
    width: calc(( 100% - 48px ) / 3); 
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-list-item:hover {
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none; 
}

.portfolio-overlay-container {
position: relative;
overflow: hidden;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-list-item:hover .overlay-portfolio-text {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}


.overlay-portfolio-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
background-color: #4d5ae5;
display: flex;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 40px 32px;
transform: translateY(100%);
transition-property: background-color, transform;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* Футер */
.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    padding: 100px 0;
}

    .footer-text {
    color: var(--CLOUD, #F4F4FD);
    font-family: "Roboto", sans-serif;
font-weight: 400;
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0.32px;
        line-height: 1.5;
        width: 264px;
        padding-top: 16px;
    
}

.logo-bottom {
    color: var(--CLOUD, #FFF);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        line-height: 1.17;

}

.logo-footer {
color: var(--IRIS, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    display: inline-block;
    margin-bottom: 16px;

}


.container-left {
    display: flex;
    flex-direction: column;
    width: 208px;
height: 80px;
margin-right: 80px;
}

.container-right {
    margin-right: 120px;
}

.social-title {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.footer-icon-list {
    display: flex;
    gap: 16px;
    justify-content: center;

}

.footer-icon-links:hover,
.footer-icon-links:focus
 {
    background-color: #31D0AA;
}
.footer-icon-items {
    width: 40px;
height: 40px;

}
.footer-icon-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill:#f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
 .footer .container {
    display: flex;
    align-items: baseline; 
}

.container-footer-form {
    display: flex;
    flex-direction: column;
    margin: 0;

    width: 453px;
    min-height: 80px;
}
.footer-caption {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.modal-footer-input-email {
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
min-height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: inherit;

}

.modal-footer-input-email::placeholder{
padding-right: 16px;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;

}
.modal-footer-form {
}
.footer-modal-label {
}
.footer-btn {
border-radius: 4px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 24px;
padding-right: 64px;
width: 165px;
height: 40px;
background: #4d5ae5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
position: relative;
}
.input-footer-box {
    display: flex;
    gap: 24px;
}
.modal-footer-input-icon {
    fill: #fff;
    position: absolute;
    display: flex;
    top:0;
    left: 0;
    margin-top: 8px;
    margin-left: 117px; 
    
}


/* Modal */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(46, 47, 66, 0.4);}
    /* opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    
} */

.modal {
    border-radius: 4px;
width: 408px;
min-height: 584px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
}

.modal-close-btn {
    width: 24px;
    height: 24px;
    border-radius: 100%; fill: #e7e9fc; stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
cursor: pointer;
background-color:rgba(231, 233, 252, 1);
position: absolute;
top: 24px;
right: 24px;
}

.modal-close-icon {
    fill: #2E2F42
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF; 
}

 .modal-close-btn:hover+.modal-close-icon
.modal-close-btn:focus+.modal-close-icon{
    fill: #FFFFFF;
    background-color: #404BBF;
} 
.modal-close-icon:hover,
.modal-close-icon:focus {
    fill: #FFFFFF;
}

.modal-caption {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-top: 72px;


}